<div class="container" style="display: block; margin-top: 200px;">
    <div class="card" style="width: 500px;">

        <h3 style="color: blue; text-align: center;">Login</h3>



        <form (ngSubmit)="login()">

            <div class="form-group">
                <div  style="width: 400px; margin-left: 50px;display: block;" >
                    <label for="userName"> User Name</label>
                    <input type="text" name="userName" class="form-control bg-light"  [(ngModel)]="loginclass.userName">
                </div>
            </div>

            <div class="form-group">
                <div  style="width: 400px; margin-left: 50px;display: block;">
                    <label for="userPassword"> User Password</label>
                    <input type="text" name="userPassword" class="form-control bg-light" [(ngModel)]="loginclass.userPassword">
                </div>
            </div>

        </form>
        <div class="form-group">
            <div style="text-align: center;">
                <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>

</div>

